<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.sasper">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:label="sasper"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:enableOnBackInvokedCallback="true">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="sasper"
                    android:host="add_transaction"/>
            </intent-filter>
        </activity>

        <!-- =================================================================== -->
        <!-- =====      CONFIGURACIÓN COMPLETA DE HOME_WIDGET          ===== -->
        <!-- =================================================================== -->
        <!-- 1. El Receptor (Receiver) que escucha los intents de fondo. -->
        <receiver android:name="es.antonborri.home_widget.HomeWidgetBackgroundReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="es.antonborri.home_widget.action.BACKGROUND" />
            </intent-filter>
        </receiver>

        <!-- 2. EL SERVICIO QUE FALTABA -->
        <!-- Este servicio es el que realmente ejecuta el código de Dart. -->
        <service android:name="es.antonborri.home_widget.HomeWidgetBackgroundService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true"/>
        <!-- =================================================================== -->
        

        <!-- Providers para tus 3 tamaños de widgets -->
        <receiver
            android:name=".SasPerWidgetProvider"
            android:exported="true"
            tools:replace="android:exported"
            android:enabled="true"
            android:label="SasPer Resumen">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/home_widget_info" />
        </receiver>

        <receiver android:name=".SasPerMediumWidgetProvider" 
            android:exported="true" 
            tools:replace="android:exported" 
            android:label="SasPer Gráfico">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/widget_medium_info" />
        </receiver>
        
        <receiver android:name=".SasPerLargeWidgetProvider" 
            android:exported="true" 
            tools:replace="android:exported" 
            android:label="SasPer Detallado">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/widget_large_info" />
        </receiver>

        <!-- Servicios y Receptores existentes -->
        <service
            android:name=".WidgetUpdateService"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name=".WallpaperChangeReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.WALLPAPER_CHANGED"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.CONFIGURATION_CHANGED"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        
        <service
            android:name=".WidgetListService"
            android:permission="android.permission.BIND_REMOTEVIEWS"
            android:exported="false" />


        <!-- INICIO DEL CÓDIGO A AÑADIR -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <!-- FIN DEL CÓDIGO A AÑADIR -->
        
        <!-- Metadatos de Flutter -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>

    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>